<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</timestampPattern>
            <timeZone>UTC</timeZone>
            <includeContext>false</includeContext>
            <includeStructuredArguments>true</includeStructuredArguments>
            <customFields>{"app":"${spring.application.name:-inventario}","env":"${ENV:local}"}</customFields>
            <fieldNames>
                <timestamp>ts</timestamp>
                <level>level</level>
                <logger>logger</logger>
                <thread>thread</thread>
                <message>message</message>
                <stackTrace>exception</stackTrace>
            </fieldNames>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>